/**
 * @file
 * Visual styles for Bootstrap Barrio's form components.
 */

form {
  .form-type-textarea {
    margin-bottom: 0;
  }
  .filter-wrapper {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
    margin-left: 0;
    margin-right: 0;
  }
}
button {
  &.link {
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }
}
.form-required::after {
  content: '';
  vertical-align: super;
  display: inline-block;
  background-image: url(../../images/required.svg);
  background-repeat: no-repeat;
  background-size: ($input-height / 2) ($input-height / 2);
  width: ($input-height / 2);
  height: ($input-height / 2);
  margin: 0 0.3em;
}
