<!-- Container -->
<div id="container">
    <!-- Header
        ================================================== -->
    <header class="clearfix">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="top-line">
                <div class="container">
                    <div class="inner-top-line">
                        <div class="row">
                            {{page.top_header}}	
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {{page.logo}}
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {{page.navigation}}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <!-- End Header -->

    <!-- page-banner-section 
            ================================================== -->
    {% if (page['#title']) %}
        <section class="page-banner-section">
            <div class="container">
                <div class="page-banner-box">
                    <h1>{{ page['#title'] }}</h1>
                    {#<p>{{ content['#block_content'].field_subtitle.value }}</p>#}
                </div>
            </div>
        </section>
    {% endif %}
    <!-- End page-banner section -->

   
    <section class="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    {# Highlighted #}
                    {% if page.highlighted %}
                        {% block highlighted %}
                            <div class="highlighted">{{ page.highlighted }}</div>
                        {% endblock %}
                    {% endif %}



                    {# Action Links #}
                    {% if action_links %}
                        {% block action_links %}
                            <ul class="action-links">{{ action_links }}</ul>
                        {% endblock %}
                    {% endif %}

                    {# Help #}
                    {% if page.help %}
                        {% block help %}
                            {{ page.help }}
                        {% endblock %}
                    {% endif %}

                    {# Content #}
                    {% block content %}
                        {{ page.content }}
                    {% endblock %}

                </div>
                <div class="col-md-4">

                    <div class="sidebar">
                        {{page.sidebar}}

                    </div>

                </div>
            </div>
        </div>
    </section>





    <!-- footer 
            ================================================== -->
    <footer>
        <div class="container">

            <div class="up-footer">
                <div class="row">

                    <div class="col-md-3">
                        {{page.footer_column_1}}
                    </div>

                    <div class="col-md-3">
                       {{page.footer_column_2}}
                    </div>

                    <div class="col-md-3">
                        {{page.footer_column_3}}

                    </div>

                    <div class="col-md-3">
                        {{page.footer_column_4}}
                    </div>

                </div>
            </div>

            {{page.copyright}}

        </div>
    </footer>
    <!-- End footer -->

</div>
<!-- End Container -->
