<!-- Container -->
<div id="container">
    <!-- Header
        ================================================== -->
    <header class="clearfix">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="top-line">
                <div class="container">
                    <div class="inner-top-line">
                        <div class="row">
                            {{page.top_header}}	
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {{page.logo}}
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                   {{page.navigation}}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <!-- End Header -->

    <!-- page-banner-section 
            ================================================== -->
    {% if (page['#title']) %}
        <section class="page-banner-section">
            <div class="container">
                <div class="page-banner-box">
                    <h1>{{ page['#title'] }}</h1>
                    <p>What you should know about us</p>
                </div>
            </div>
        </section>
    {% endif %}
    <!-- End page-banner section -->
    <section class="contact-section">
        <div class="container">
            <div class="title-section">
                <span>Contact Information</span>
                <h1>Get in touch</h1>
                <p>Nulla vehicula sapien nec ante sollicitudin luctus. Duis posuere, metus eget <br>mollis, dolor convallis nulla, ut aliquam nisi lorem eget enim.</p>
            </div>
            <div class="contact-box">
                <div class="row">
                    <div class="col-md-8">
                        {# Highlighted #}
                        {% if page.highlighted %}
                            {% block highlighted %}
                                <div class="highlighted">{{ page.highlighted }}</div>
                            {% endblock %}
                        {% endif %}



                        {# Action Links #}
                        {% if action_links %}
                            {% block action_links %}
                                <ul class="action-links">{{ action_links }}</ul>
                            {% endblock %}
                        {% endif %}

                        {# Help #}
                        {% if page.help %}
                            {% block help %}
                                {{ page.help }}
                            {% endblock %}
                        {% endif %}

                        {# Content #}
                        {% block content %}
                            {{ page.content }}
                        {% endblock %}
                        {# <form id="contact-form">
                             <div class="row">
                                 <div class="col-md-6">
                                     <input name="name" id="name" type="text" placeholder="Name">
                                 </div>
                                 <div class="col-md-6">
                                     <input name="mail" id="mail" type="text" placeholder="Email">
                                 </div>
                             </div>
                             <input name="tel-number" id="tel-number" type="text" placeholder="Your Phone">
                             <textarea name="comment" id="comment" placeholder="Your Message"></textarea>
                             <input type="submit" id="submit_contact" value="Send Message">
                             <div id="msg" class="message"></div>
                         </form>#}

                    </div>
                    <div class="col-md-4">

                       {{page.contact1}}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End contact section -->

    <!-- map-section 
            ================================================== -->
    <section class="map-section">
        <a href="#" class="toggle-map">Show Map</a>
        {{page.map}}
    </section>
    <!-- End map section -->


    <!-- footer 
            ================================================== -->
    <footer>
        <div class="container">

            <div class="up-footer">
                <div class="row">

                    <div class="col-md-3">
                        {{page.footer_column_1}}
                    </div>

                    <div class="col-md-3">
                        {{page.footer_column_2}}
                    </div>

                    <div class="col-md-3">
                        {{page.footer_column_3}}

                    </div>

                    <div class="col-md-3">
                        {{page.footer_column_4}}
                    </div>

                </div>
            </div>

            {{page.copyright}}

        </div>
    </footer>
    <!-- End footer -->

</div>
<!-- End Container -->
