{#
/**
 * @file style.html.twig
 * Default theme implementation to present Style data.
 *
 * This template is used when viewing Style pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_style()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('style') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
