<section class="blog-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blog-box single-post">
                    <div class="single-post">

                        <div class="row">
                            {{content.body}}

                            <ul class="share-project">
                                <li>Share Post: </li>
                                <li><a class="facebook" href="http://www.facebook.com/sharer.php?u={{base_root ~ url}}"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="https://twitter.com/intent/tweet?text={{ title }}&amp;url={{base_root ~ url}}"><i class="fa fa-twitter"></i></a></li>

                                <li><a class="google" href="http://plus.google.com/share?url={{base_root ~ url}}"><i class="fa fa-google-plus"></i></a></li>
                            </ul>

                        </div>
                    </div>


                </div>

                <div class="comment-area-box">
                    <h2>{{ node.field_blog_comments.comment_count }} Comments</h2>
                    {{ node.comment | render }}
                    {{ content.comment_forum }}
                    {{ content.field_blog_comments }}
                
                </div>

               
                <!-- End contact form box -->
            </div>

        </div>

    </div>
</div>
</section>