{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup templates
 */
#}
<!-- Container -->
<div id="container">
    <!-- Header
        ================================================== -->
    <header class="clearfix">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="top-line">
                <div class="container">
                    <div class="inner-top-line">
                        <div class="row">
                            {{page.top_header}}	
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {{page.logo}}
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {{page.navigation}}
                    {#<ul class="nav navbar-nav navbar-right">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a class="active" href="about.html">About Us</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                        <li class="search"><a href="#" class="open-search"><i class="fa fa-search"></i></a>
                            <form class="form-search">
                                <input type="search" placeholder="Search:"/>
                                <button type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </form>
                        </li>
                    </ul>#}
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </header>
    <!-- End Header -->

    <!-- page-banner-section 
            ================================================== -->
     {% if (page['#title']) %}
    <section class="page-banner-section">
        <div class="container">
            <div class="page-banner-box">
                <h1>{{ page['#title'] }}</h1>
                {#<p>{{ content['#block_content'].field_subtitle.value }}</p>#}
            </div>
        </div>
    </section>
         {% endif %}
    <!-- End page-banner section -->

    {# Highlighted #}
    {% if page.highlighted %}
        {% block highlighted %}
            <div class="highlighted">{{ page.highlighted }}</div>
        {% endblock %}
    {% endif %}



    {# Action Links #}
    {% if action_links %}
        {% block action_links %}
            <ul class="action-links">{{ action_links }}</ul>
        {% endblock %}
    {% endif %}

    {# Help #}
    {% if page.help %}
        {% block help %}
            {{ page.help }}
        {% endblock %}
    {% endif %}

    {# Content #}
    {% block content %}
        {{ page.content }}
    {% endblock %}

    <!-- footer 
            ================================================== -->
    <footer>
        <div class="container">

            <div class="up-footer">
                <div class="row">

                    <div class="col-md-3">
                        {{page.footer_column_1}}
                    </div>

                    <div class="col-md-3">
                      {{page.footer_column_2}}
                    </div>

                    <div class="col-md-3">
                        {{page.footer_column_3}}

                    </div>

                    <div class="col-md-3">
                        {{page.footer_column_4}}
                    </div>

                </div>
            </div>

            {{page.copyright}}

        </div>
    </footer>
    <!-- End footer -->

</div>
<!-- End Container -->


